###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

.DS_Store

# LEGACY
/app/bootstrap*
/app/cache/*
/app/logs/*
/app/config/parameters.ini
/src/Papyrillio/HgvBundle/Data
/vendor/
/web/bundles/
/web/images/dev.png
/src/Papyrillio/HgvBundle/Script/*.log
/.project
/.settings

#NEW
/.env
/data
/script/*.log
/script/*.log.old
