/app/bootstrap*
/app/cache/*
/app/logs/*
/app/config/parameters.ini
/src/Papyrillio/HgvBundle/Data
/vendor/
/web/bundles/
/web/images/dev.png
/src/Papyrillio/HgvBundle/Script/*.log
/.project
/.settings
