{% extends '::base.html.twig' %}

{% block title %}Suchhilfen und andere Hinweise{% endblock %}

{% block body %}

  <div class="page help">

    <h5>Suchhilfen und andere Hinweise <a href="{{ path('PapyrillioHgvBundle_DefaultHelp', {'topic': 'search', language: 'en'}) }}" onfocus="this.blur()" title="read in English"> → read in English</a></h5>
      Für die Datenbanken existieren drei verschiedene Ansichten (layouts), 
    nämlich "Tabelle", "Formular" und "Suche". Nach dem Aufruf der Datenbank
     "Hauptregister" werden einem die augenblicklich ca 50.500 Datensätze in
     der vorgegebenen Reihenfolge präsentiert, und zwar zunächst in der 
    tabellarischen Ansicht, welche außer der laufenden Nummer der Datensätze
     die Felder "PublikationL", "Datierung2", "Ort" und "Originaltitel"  
    enthält. Die erste Seite gibt nur die ersten 25 Datensätze wieder, aber 
    durch Clicken auf das Wort "Weiter" läßt man sich die nächsten 25 
    anzeigen, usw.<br />
      Durch einen Mausclick auf die laufende Nummer (oder auf das Wort 
    "Formular" in der Titelleiste) gelangt man zur Formular-Ansicht des 
    betreffenden Datensatzes, die zusätzlich Einblick in die Felder 
    "Material", "Abbildung", "Andere Publikation", "Bemerkungen" und 
    "Inhalt" gewährt.<br />
      Im Such-Layout erscheinen alle für die Suche relevanten Felder.<br />
      Für diejenigen, die keine Erfahrung im Umgang mit FileMaker Pro oder 
    ähnlichen Datenbanken haben, gibt es weiter unten auf der Eingangsseite 
    Links zu grundlegenden Anleitungen des Herstellers von FileMaker Pro in 
    Deutsch, Englisch und Französisch.<br />
      Hier einige konkrete Beispiele für Suchmöglichkeiten (<b>Vorbemerkung:</b> In den Feldern "Band", "Nummer", "J", "M", T", "J2", "Jh" und "Jh2" dürfen nur <u>arabische</u> Ziffern verwendet werden):<br />
    <br />
    1) Gesucht sind alle Datensätze aus den Jahren 275 - 285 n.Chr.<br />
      Man gibt in dem Feld "J" (= "Jahr") ein: "275...285".<br />
    <br />
    2) Gesucht sind alle Datensätze aus den Jahren 80 - 50 v.Chr., die aus dem Arsinoites stammen.<br />
      Man gibt in dem Feld "J" ein: "-80...-50" und in dem Feld "Ort": "Arsinoites" (oder auch nur "Arsin" oder "Arsi").<br />
    <br />
    3) Gesucht sind alle Datensätze von Papyri aus den Jahren zwischen 450 
    und 490 n.Chr. aus dem Herakleopolites, von denen Abbildungen publiziert
     sind.<br />
      Man gibt im Feld "J" ein: "450...490", im Feld "Ort": "Herakl", und im 
    Feld "Abbildung": "keine", wobei vor diesem letzten Feld die Option 
    "Enthält nicht" ausgewählt werden muß. Die Information darüber, wo die 
    Abbildungen publiziert sind, erhält man nur in der Formular-Ansicht.<br />
    <br />
    4) Wer sicher sein will, alle Papyri zu finden, die möglicherweise im 
    Jahre 602 geschrieben wurden, muß sowohl im Feld "J" als auch im Feld 
    "J2" die Zahl "602" eintragen und oberhalb die Option "ODER" anklicken. 
    Das Feld "J2" sorgt dafür, daß auch Papyri mit der Angabe "601-602 
    n.Chr." gefunden werden.<br />
    <br />
    5) Wer sicher sein will, alle Datensätze für Papyri zu finden, die 
    möglicherweise im 2. Jh. v.Chr. geschrieben wurden, muß zwei getrennte 
    Suchen starten: a) In Feld "J": "-199...-100" und zugleich (mit der 
    Option "ODER") im Feld "Jh": "-2". b) Im Feld "Jh2": "-2" (um auch 
    "III-II v.Chr." zu finden).<br />
    <br />
    6) Ausführlich zu erklären ist die Verwendungsweise der Formelfelder 
    "ChronMinimum" und "ChronMaximum", die erst später (November 2003) 
    eingeführt worden sind. Durch sie ergeben sich zusätzliche Möglichkeiten
     zur chonologischen Suche.<br />Die Bedeutung der Felder ist bei einer 
    Datierung wie z.B. "98 - 117", "231 - 232" usw. selbsterklärend: Es 
    werden automatisch jeweils die Endpunkte der Zeitspanne in die Felder 
    ChronMinimum und ChronMaximum übernommen. Datierungen nach Jahrhunderten
     hingegen werden mit einer Formel umgerechnet. So gelten etwa für "III" 
    die Werte ChronMinimum = 201 und ChronMaximum = 300,  für "Mitte IV" die
     Werte ChronMinimum = 326 und ChronMaximum = 375, für "Ende III - Anfang
     II v.Chr." die Werte ChronMinimum = -225 und ChronMaximum = -176, usw.<br />Wenn
     man bisher Texte aus der Regierungszeit Trajans finden wollte, konnte 
    man im Feld J(ahr) nach "98...117" suchen, fand dann aber nur solche 
    Datierungen, die entweder exakt in den genannten Zeitraum fallen oder 
    deren Zeitspanne zumindest konkret in ihm beginnt (z.B. 110 - 120). 
    Nicht gefunden wurden hingegen Datierungen wie z.B. "95 - 100". Mit 
    Hilfe der beiden neuen Felder lassen sich nun zusätzlich auch alle 
    diejenigen Datensätze finden, die nur potentiell in einem beliebigen 
    Zeitraum entstanden sind.<br />Will man also alle Urkunden finden, die 
    potentiell aus der Regierungszeit Trajans stammen, sucht man z.B. in 
    ChronMinimum nach "50...117" und zugleich in ChronMaximum nach 
    "98...150". Man findet auf diese Weise auch Texte, deren Datierung "ca. 
    70 - 130" lautet wie in P.Hib. II 215, "81 - 138" wie in O.Elkab 28 oder
     "Ende I - Anfang II" wie in P.Oxy. LXVI 4533.<br />Man sieht, daß man für
     den entscheidenden Zeitraum (d.h. 98-117) beim Eintrag in die 
    Suchfelder eine Überlappung herstellen muß. Die Extremwerte "50" und 
    "150" stellen dabei die Toleranz dar und können nach Belieben verändert 
    werden. In obigem Beispiel werden (wegen ChronMaximum ...150) auch alle 
    Texte gefunden, deren Datierung "1. Hälfte II" lautet, nicht hingegen 
    diejenigen, die auf "Mitte II" oder einfach nur "II" datiert sind. 
    Wollte man auch sie finden, müßte man in ChronMaximum die Toleranz 
    erhöhen und "98...175" bzw. "98...200" suchen. Ebenso ließe sich die 
    Toleranz in ChronMinimum auf "1" ausweiten, um auch "I - II" datierte 
    Texte in das Ergebnis einzuschließen.<br />Eine extreme Ausweitung der 
    Toleranz stellen Suchen mit z.B. den Kriterien ChronMinimum &#8804; 200 und 
    ChronMaximum &#8805; 101 oder mit den Werten &#8804; 115 für ChronMinimum und 
    ebenfalls &#8805; 115 für ChronMaximum dar: Sie liefern alle Datensätze, die 
    möglicherweise (oder sicher) in das 2. Jh. n.Chr. gehören bzw. alle 
    Datierungen, in die auch das Jahr 115 fällt, also auch "I - VIII" oder 
    gänzlich undatierte Texte.<br />
    <br />
    7) Man kann auch im Feld "Inhalt" suchen. Z.B. bringt der Eintrag "Esel 
    Kauf" in diesem Feld als Suchergebnis eine bestimmte Anzahl von 
    Urkunden, die mit dem Kauf von Eseln zu tun haben. Wir garantieren aber 
    nicht für Vollständigkeit.<br />
    <br />
    8) Wer sich für Abbildungen der Originale bzw. weitere Informationen 
    dazu im Internet interessiert, gebe im Feld "Link1FM" das Suchkriterium 
    "http" ein. Natürlich kann das mit einer chronologischen (oder anderen) 
    Suche verbunden werden.
    <br />
    <br />
    Grundsätzlich gilt, daß man bei der Suche überflüssige Angaben vermeiden
     soll. Wenn man den Datensatz für P.Oxy. XLIII 3095 finden will, 
    schreibe man <u>nur</u> "Oxy" in das Feld "Publikation" und "3095" in 
    das Feld "Nummer" (d.h. man verzichte auf das "P.", da die Tausenden von
     vorhandenen Fällen die Suche unnötig verlängern, und auf die Angabe 
    "43" im Feld "Band"). Für hohe SB-Nummern oder P.Cair. Masp. usw. genügt
     die Angabe der Nummer.<br />
    <br />
      Um die gefundenen Datensätze (grob) chronologisch zu sortieren, empfehlen wir die Reihenfolge
      <ol><li style="margin-left: 4em;">"ChronGlobal" </li><li style="margin-left: 4em;">"M" </li><li style="margin-left: 4em;">"T".</li></ol>
     Es wird jedoch gebeten, keine großen Mengen von Datensätzen sortieren 
    zu lassen (z.B. die gesamte Datenbank), weil dies erhebliche Zeit in 
    Anspruch nimmt, während der dann kein anderer Benutzer Zugriff auf die 
    Datenbank hat.<br />
    <br />
      Zum Schluß eine Bitte: Bedauerlicherweise enthält eine so große 
    Datenbank  mit Notwendigkeit noch zahlreiche Fehler, die uns bisher 
    entgangen sind. Wir wären sehr dankbar für Hinweise auf bemerkte Fehler,
     damit wir sie so schnell wie möglich beseitigen können.<br />
    <br />
    Bitte schreiben Sie an:<br />
    <a href="mailto:dieter.hagedorn@urz.uni-heidelberg.de">Dieter.Hagedorn@urz.uni-heidelberg.de</a><br />
    <a href="mailto:James.Cowey@urz.uni-heidelberg.de">James.Cowey@urz.uni-heidelberg.de</a><br /><br /><br /><br />

  </div>

{% endblock %}