{% extends 'base.html.twig' %}

{% block title %}Search Tips and other Information{% endblock %}

{% block body %}

  <div class="page help">
 
    <h5>Search Tips and other Information <a href="{{ path('PapyrillioHgvBundle_DefaultHelp', {'topic': 'search', language: 'de'}) }}" onfocus="this.blur()" title="auf Deutsch lesen"> → auf Deutsch lesen</a></h5>
      Three different layouts exist for each database, "Tabelle", "Formular" 
    and "Suche". Once the database "Hauptregister" has been called up the 
    entries are presented in a given order in the table layout which 
    contains the serial number of the text and the fields "PublikationL", 
    "Datierung2", "Ort" und "Originaltitel". The first page contains the 
    first 25 entries. By clicking the word "Weiter" the next 25 will be 
    shown and so on.<br />
      By clicking the serial number with the mouse (or the word "Formular" in
     the title bar) one goes to the "Formular" layout where one can in 
    addition view the fields "Material", "Abbildung", "Andere Publikation", 
    "Bemerkungen" and "Inhalt".<br />
      In "Suche" layout all fields which can be used to carry out searches appear.<br />
      For those who have no experience in using FileMaker Pro or similar 
    database programmes there are links on our main page to the relevant 
    basic introductions to FileMaker Pro in English, French and German, as 
    supplied by the manufacturer.<br />
      Here are a few concrete examples of searches that might be carried out (<b>preliminary remarks:</b> <u>arabic</u> numerals only are to be used in the fields "Band", "Nummer", "J", "M", T", "J2", "Jh" und "Jh2"):<br />
    <br />
    1) A search for all entries dating from the years AD 275 - 285 .<br />
      One enters "275...285" in the field "J" (= Jahr).<br />
    <br />
    2) A search for all entries dating from the years 80 - 50 BC, which come from Arsinoites.<br />
      One enters "-80...-50" in the field "J" and "Arsinoites" in the field "Ort" (or "Arsin" or "Arsi").<br />
    <br />
    3) A search for all entries of papyri dating from the years AD 450 and 
    490, which come from Herakleopolites and of which there are published 
    photographs.<br />
      One enters "450...490" in the field "J", "Herakl." in the field "Ort" 
    and "keine" in the field "Abbildung". In the case of the last entry the 
    option "Enthält nicht" must be used. Information concerning published 
    photographs of any given document are only available in "Formular" 
    layout.<br />
    <br />
    4) Anyone searching for all documents which may have been written in AD 
    602 must enter "602" in "J" and then in "J2" as well as clicking on the 
    option "ODER". The field "J2" (= "Jahr 2") makes sure that papyri dated 
    to AD 601-602 are found.<br />
    <br />
    5) Anyone searching for all documents which may have been written in the
     second century BC must carry out two separate seaches: a) one enters 
    "-199...-100" in field "J" and then (with the option "ODER") "-2" in 
    field "Jh" (= "Jahrhundert"). b) "-2" in field "Jh2" (in order to find 
    documents dated "III-II v.Chr.").<br />
    <br />
    6) The use of the formula fields "ChronMinimum" and "ChronMaximum", 
    which were added at a later date (November 2003), ought to be explained 
    at greater length, as they open up further possibilities whenever a 
    detailed chronological search is desirable.<br />The fields are self 
    explanatory if the date in question is e.g. 98 - 117 or 231 - 232: in 
    these cases the starting and end dates of any given period appear in the
     fields ChronMinimum and ChronMaximum. Dates which were assigned to 
    centuries are converted with the use of a formula. For "III" for 
    example, the value accorded to the fields are: ChronMinimum = 201 and 
    ChronMaximum = 300; for "Mitte IV" ChronMinimum = 326 and Chron Maximum =
     375; for "Ende III - Anfang II v.Chr." ChronMinimum = -225 and 
    ChronMaximum = -176; etc.<br />Up to now if one wanted to find texts 
    belonging to the reign of Trajan, it was possible to enter 98...117 into
     the field J(ahr). This, however, resulted in a list of texts which were
     dated to precisely this span of 20 years or to a period of which the 
    starting year fell in this span (<i>e.g.</i> 110-120). Dates such as "95
     - 100" were not found. With the help of the new fields it is now 
    possible to find all records, which might potentially belong to any 
    given time period.<br />Thus if one wants to find all documents, which may
     potentially come from the reign of Trajan, "50...117" should be entered
     in ChronMinimum and "98...150" should be entered in ChronMaximum in the
     same search. In this way texts are found which are dated "ca. 70 - 130"
     as in P.Hib. II 215, "81 - 138" as in O.Elkab 28 or "Ende I - Anfang 
    II" as in P.Oxy. LXVI 4533.<br />As can be seen, it is necessary to create
     an overlap with the time period in question (i.e. 98 - 117) when making
     an entry in the search fields. The outermost date limits of the search,
     "50" and "150", represent the tolerance and can of course be altered as
     one pleases. In the example above all texts will be found with a date 
    of "1. Hälfte II" (because of ChronMaximum ...150), those dated to 
    "Mitte II" or simply "II" will not, however, be found. If one wanted to 
    find these as well, one would have to increase the tolerance and search 
    for "98...175" or "98...200". Likewise the tolerance could be increased 
    in ChronMinimum to "1...117", to include texts dated to "I - II".<br />Searches
     with the criteria ChronMinimum &#8804; 200 and ChronMaximum &#8805; 101 or with &#8804; 
    115 for ChronMinimum and &#8805; 115 for ChronMaximum represent an extreme 
    expansion of the tolerance. They produce all records, which are possibly
     (or definitely) dated to the second century AD or all time periods in 
    which the year 115 is included, that is even to texts dated "I - VIII" 
    or completely undated texts.<br />
    <br />
    7) One can search in the field "Inhalt". E.g. the entry "Esel Kauf" in 
    this field will provide a number of documents which have to do with the 
    sale of donkeys. There is no guarantee of completeness in the case of 
    searching according to content as we did not develop a system of 
    categorisation.<br />
    <br />
    8) For anyone who is interested in images of the originals or further 
    information in the Internet, a search for "http" in the field Link1FM 
    should be carried out. This can, of course, be combined with a 
    chronological or, indeed, any other type of search.
    <br />
    <br />  A basic rule of thumb is that one should avoid as much as possible 
    entering unnecessary information. Anyone wanting to find P.Oxy. XLIII 
    3095 should enter <u>only</u> "oxy" in the field "Publikation" and 
    "3095" in the field "Nummer" (i.e. one avoids "P." - there are thousands
     of them and the search takes ages quite unnecessarily! - as well as 
    omitting "43" in the field "Band"). In the case of high SB numbers or 
    P.Cair.Masp or P.Cair.Zen. it is quite sufficient to enter the number 
    alone.<br />
    <br />
      Documents which have been found can be sorted in rough chronological 
    order by choosing the option "ChronGlobal" in "Feldname" 1., "M" in 
    "Feldname" 2., and "T" in "Feldname" 3. It is, however, requested not to
     try to sort large numbers of documents (e.g. the whole database), 
    because this takes a long time during which the database is not 
    available for other users.<br />
    <br />
      A final plea. It is unfortunately in the nature of such huge databases 
    that there will be mistakes which we have failed to notice. We would be 
    very grateful to receive notice of where mistakes have been spotted so 
    that we can correct them as quickly as possible. <br />
    <br />
    Please write to:<br />
    <a href="mailto:dieter.hagedorn@urz.uni-heidelberg.de">Dieter.Hagedorn@urz.uni-heidelberg.de</a><br />
    <a href="mailto:James.Cowey@urz.uni-heidelberg.de">James.Cowey@urz.uni-heidelberg.de</a><br /><br /><br /><br />

  </div>

{% endblock %}