{% extends '::base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block body %}
<h3>INDEX</h3>

{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script type="text/javascript">


  </script>
{% endblock %}
