/* GENERAL */

li {
  margin: 0;
}

/* render html5 elements as block */
header, footer, section, aside, nav, article {
display: block;
}

body {
line-height: 1;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 14px;
line-height: 18px;
}

.mini{
  font-size: 6pt;
  color: #c0c0c0;
}
  
/* layout */

#wrapper {
margin: 0 auto;
margin-top: 5px;
margin-bottom: 5px;
-webkit-box-shadow: 3px 3px 7px #777;
-moz-box-shadow: 3px 3px 7px #777;
}

nav {

height: 2em;
margin: 0 auto;
background: #142952; /* darkblue */
color: #fff;
}

header {
margin: 0 auto;
}

#main {

margin: 0 auto;
padding-top: 30px;
background: #FFF;
overflow: hidden;
}

#content {
padding-left: 1em;
float: left;
width: 80%;
}

#sidebar {
float: left;
padding-left: 1em;
width: 10em;
min-height: 40em;
border-right: solid 1px #c0c0c0;
}

footer {

margin: 0 auto;
clear: both;
}

/* basics */

@font-face {
    font-family: 'BlackRoseRegular';
    src: url('BLACKR-webfont.eot');
    src: url('BLACKR-webfont.eot?iefix') format('eot'),
         url('BLACKR-webfont.woff') format('woff'),
         url('BLACKR-webfont.ttf') format('truetype'),
         url('BLACKR-webfont.svg#webfont21KuPMyg') format('svg');
    font-weight: normal;
    font-style: normal;
}

h2,h3,h4,h5,h6 {
font-weight: bold;
clear: both;
color: #333;
}

a:link, a:visited {
color:#085E9B;
}

a:hover, a:active {
color: #333;
}

p {
margin-bottom: 18px;
}

li {
padding-left: 0.1em;
}

/* nav */

nav .menu {
font-size: 1em;
font-weight: bold;
}

nav .menu ul {
margin: 0;
padding: 0.4em 0 0 0.4em;
list-style: none;
line-height: normal;
}

nav .menu li {
display: block;
float: left;
}

nav .menu a {
display: block;
float: left;
margin-right: 5px;
padding: 0px 15px;
text-decoration: none;
color: #fff;
}

nav .menu a:hover {
text-decoration: underline;
}

/** HEADER */

header h1, header h2 {

}

header h1 {   
float: left;
font-weight: normal;
}

header h1 a:link, header h1 a:visited {
text-decoration: none;
}

header h2 {
font-weight: normal;
}

/** ARTICLES **/
article img {
border: none;
-webkit-box-shadow: 3px 3px 7px #777;
-moz-box-shadow: 3px 3px 7px #777;
}

#content p, ul, ol, hr {
margin-bottom: 24px;
}

#content ul ul, ol ol, ul ol, ol ul {
margin-bottom: 0;
}

#content h1, h2, h3, h4, h5, h6 {
color: #333;
margin: 0 0 20px 0;
line-height: 1.5em;
}

.alignleft, img.alignleft {
display: inline;
float: left;
margin-right: 10px;
}

.alignright, img.alignright {
display: inline;
float: right;
margin-left: 10px;
}

.aligncenter, img.aligncenter {
clear: both;
display: block;
margin-left: auto;
margin-right: auto;
}

/* sidebar and footer widget blocks */

aside h3 {
font-size: 1em;
}

aside ul {
list-style: none;
margin-bottom: 20px;
margin-top: -15px;
}

#footer-area {
background: #333;
color: #FFF;
font-size: 90%;
padding: 18px 0;
overflow: hidden;
}

.footer-segment {
float: left;
margin-right: 20px;
margin-left: 20px;
width: 190px;
}

footer aside h4 {
color: #ddd;
font-size: 16px;
line-height: 1.5em;
}

footer a:link, footer a:visited {
color: #08B8F9;
}

footer p {
margin-top: -15px;
}

/* CATALOGUE SEARCH */

table.search th,
table.search td{
  padding: 0 1em 0 1em;
}

table.search thead th {
  font-weight: bold;
}

table.search thead tr {
  border-bottom: solid 1px #c0c0c0;
}

table.search tr.Publikation input,     
table.search tr.Band input,
table.search tr.Nummer input,
table.search tr.TM_Nr\. input,
table.search tr.J input,
table.search tr.M input,
table.search tr.T input,
table.search tr.J2 input,
table.search tr.Jh input,
table.search tr.Ort input,
table.search tr.Jh2 input{
  width: 10em;
}

table.search tr.Ort input,
table.search tr.Originaltitel input,
table.search tr.Material input,
table.search tr.Abbildung input,
table.search tr.Andere input,
table.search tr.Bemerkungen input,
table.search tr.Inhalt input,
table.search tr.Link1FM input,
table.search tr.ChronMinimum input,
table.search tr.ChronMaximum input,
table.search tr.ChronGlobal input,
table.search tr.Uebersetzungen input{
  width: 30em;
}

/* BROWSE SINGLE / CATALOGUE SHOW */

table.catalogueShow th,
table.catalogueShow td {
  padding: 0 0 0.4em 0;
}

table.catalogueShow th {
  font-weight: bold;
  padding-right: 1em;
  text-align: right;
}

table.catalogueShow tr.daht,
table.catalogueShow tr.ldab,
table.catalogueShow tr.dfg{
  font-size: 75%;
  font-family: Verdana;
}

table.catalogueShow tr.daht a,
table.catalogueShow tr.ldab a,
table.catalogueShow tr.dfg a{
  font-weight: bold;
}

table.catalogueShow tr.translation ul,
table.catalogueShow tr.mentionedDates ul{
  list-style-type: none;
  margin: 0;
}

table.catalogueShow tr.translation ul li,
table.catalogueShow tr.mentionedDates ul li{
  margin-left: 1em;
}

/* CATALOGUE LIST / BROWSE MULTI */

span#showSearchParameters{
  background-color: #085E9B;
  display: block;
  width: 1.4em;
  float: right;
  text-align: center;
  font-weight: bold;
  color: white;
  cursor: hand;
  cursor: pointer;
  border: solid 1px #142952;
}

p#searchParameters{
  background-color: #c0c0c0;
  border: solid 1px #142952;
  padding: 1em;
}

p#searchParameters b{
  line-height: 2;
}

table.catalogueList th,
table.catalogueList td{
  border: solid 1px #c0c0c0;
}

table.catalogueList th{
  text-align: center;
  font-weight: bold;
}

table.catalogueList th{
  text-align: center;
  padding-right: 14px;
}

table.catalogueList th.PublikationL{
  width: 13em;
}

table.catalogueList th.Datierung2{
  width: 15em;
}

table.catalogueList th.Ort{
  width: 16em;
}

table.catalogueList th.OriginaltitelHTML{
  width: 50em;
}

table.catalogueList th.ascend,
table.catalogueList th.descend{
  background-image: url(../images/asc.png);
  background-repeat: no-repeat;
  background-position: right;
}

table.catalogueList th.descend{
  background-image: url(../images/desc.png);
}

/* P U B L I C A T I O N */

div#publication ul{
  float: left;
  height: 30em;
  width: 16em;
  overflow: scroll;
  cursor: pointer;
  cursor: hand;
  list-style: none;
}

div#publication ul#result{;
  width: 40em;
  height: auto;
  overflow: visible;
  cursor: auto;
}

div#publication ul li.active{
  color: white;
  background-color: #085E9B;
}